<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <title>About us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="x-apple-disable-message-reformatting" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' type='text/css' media='screen' href='./css/main.css'>
    <script src="./js/main.js"></script>

    <style>


    </style>
</head>

<body>
    <div id="container">
        <div class="silver-box-container">

            
            <div class="hero-section">
                <div class="flex-container-with-spacing">
                    <div class="flex-row-container">
                        <img src="assets/img_2_205_efdd29.svg" alt="a brown circle with a shadow on a white background." class="image-container" />
                        <p class="text-grouping-container"><a href="/"><span class="elegant-text">Divass</span><span class="elegant-text">Map</span></a></p>
                    </div>
                    <div class="flex-row-container">
                        <div class="navbar-container">
                            <p class="brand-link"><a href="https://github.com/Vatsonio/Divass_Help_Map/tree/main">GitHub</a></p>
                            <p class="brand-link"><a href="/contact">Contact Us</a></p>
                            <p class="brand-link"><a href="/about">About Us</a></p>
                        </div>
                        <% if (!user) { %>
                            <button class="button-primary-style"><a href="/register" style="text-decoration: none; color: white;">Sign Up</a></button>
                            <% } else { %>
                                <button class="button-primary-style"><a href="/profile" style="text-decoration: none; color: white;"><%= user.username %></a></button>
                                <% } %>
                    </div>
                </div>
                <div class="container-main">
                    <div class="team-profile-container1-6">
                        <p class="majestic-heading-6">Про нас</p>
                        <div class="team-profile-container-6">
                            <div class="team-profile-card-6">
                                <!-- Button Component is detected here -->
                                <button class="divass-button-6">The Divass</button>
                                <p class="young-ambitious-developers-6"><b>Ми молоді, амбіційні розробники, які прагнуть до вершин.</b> За такий короткий час ми стали не просто командою, а цілою сімєю. Завдяки цьому ми створили не бізнес продукт, а реальну можливість для людей які цього потребують.<br
                                    /><br /><b>Наша перша мета</b> – об&apos;єднати зусилля&nbsp; добровольців, рятувальних служб та організацій для збільшення ефективності розшуку&nbsp; зниклих людей.<br
                                    /><br /><b>Наше наступне завдання</b> – розширити цю співпрацю, залучаючи ще більше учасників, щоб максимально підвищити шанси на успішний розшук.</p>


                                <img src="assets/about_1.JPG" alt="Image" class="divass-image-cover-6" style="margin-top: 2rem; bottom: 0;"/>
                            </div>
                            <div class="search-and-rescue-platform-info-6">
                                <!-- Button Component is detected here -->
                                <button class="search-platform-button-6">Проєкт</button>
                                <div class="search-coordination-platform-6">
                                    <div class="ukraine-platform-info-6">
                                        <span><b>Онлайн-платформа </b>для координації пошуку зниклих осіб у зоні військового конфлікту. <br /><br /><b>Основні функції сайту:</b></span>
                                        <ul class="search-functions-list-6">
                                            <li>Перегляд коду: Користувачі можуть переглядати вихідний код проекту.</li>
                                            <li>Клонування репозиторію: Користувачі можуть клонувати репозиторій для локальної роботи.</li>
                                            <li>Створення питань: Користувачі можуть створювати питання для обговорення проблем або нових функцій.</li>
                                            <li>Пул-реквести: Користувачі можуть внести свій внесок у проект, надіславши пул-реквест.</li>
                                            <li>Вікі: Користувачі можуть створювати вікі-сторінки для документації проекту.<br /></li>
                                        </ul>
                                    </div>
                                    <!-- <img src="assets/image 2.png" alt="diagram" class="diagram" /> -->
                                    <div class="donut" style="--first: .50; --second: .33; --third: .15">
                                        <div class="donut__slice donut__slice__first"></div>
                                        <div class="donut__slice donut__slice__second"></div>
                                        <div class="donut__slice donut__slice__third"></div>
                                        <div class="donut__label">
                                            <div class="donut__label__heading">CODE</div>
                                            <div class="donut__label__sub_1">EJS - 50.5%</div>
                                            <div class="donut__label__sub_2">CSS - 33.8%</div>
                                            <div class="donut__label__sub_3">JavaScript - 15.7%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</body>

</html>